fastapi>=0.104.1,<0.104.2
uvicorn>=0.24.0.post1,<0.24.0.post2
pydantic>=2.5.1,<2.5.2
python-multipart>=0.0.6,<0.0.7
passlib[bcrypt]>=1.7.4,<1.7.5
python-jose[cryptography]>=3.3.0,<3.3.1
sqlalchemy>=2.0.23,<2.0.24
pymysql>=1.1.0,<1.1.1
python-dotenv>=1.0.0,<1.0.1
unidecode>=1.3.7,<1.3.8
sshtunnel>=0.4.0,<0.4.1
fabric>=3.2.2,<3.2.3
generic-connection-pool>=0.7.0,<0.7.1
